* {
    user-select: none;
    -webkit-user-select: none;
}

.demo-ribbon {
    width: 100%;
    height: 40vh;
    background-color: #3F51B5;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
}

.demo-main {
    margin-top: -35vh;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
    padding-left: 40px;
}

.demo-header {
    position: fixed;
}

.demo-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.demo-content {
    margin-top: 100px;
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
    padding: 40px 28px;
}

.demo-content h3 {
    margin-top: 48px;
}

.demo-footer {
    padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
    font-size: 13px;
}

.movie {
    margin: 10px;
    border-bottom: 1px solid;
    padding: 10px;
}

.movie__stars {
    font-size: 38px;
}

.movie__year,
.movie__genre,
.movie__original-title {
    color: gray;
    display: inline-block;
    font-size: 11px;
    margin-right: 5px;
}

.mdl-checkbox {
    height: auto;
    cursor: pointer;
}

.mdl-checkbox__label {
    display: block;
}

.done {
    position: fixed;
    right: 40px;
    bottom: -74px;
    cursor: pointer;
    z-index: 999999999;
    transition: bottom 0.25s;
    transform: scale(1.6);
}

.slider__container {
    width: 300px;
    display: inline-block;
}

.demo-card-wide.mdl-card {
    min-height: 120px;
    width: 512px;
    display: none;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.mdl-card__supporting-text {
    font-size: 23px;
    line-height: 38px;
}

.movies-chunk {
    display: none;
}

.movies-chunk.visible {
    display: block;
}

.done-icon {
    background-image: url(ic_done_48px.svg);
    width: 40px;
    transform: scale(0.8);
    height: 40px;
    display: inline-block;
    background-size: contain;
}

.mdl-slider,
.mdl-js-slider {
    cursor: pointer;
}

.you {
    user-select: initial;
    -webkit-user-select: initial;
}

.score {
    margin-left: 20px;
    color: red;
}

.sexy-container {
    display: none;
    position: fixed;
    top: 70px;
    left: 50%;
    z-index: 9999;
    background-color: white;
    width: 400px;
    margin-left: -200px;
    box-shadow: 0 0 91px 1px;
    padding: 20px;
}

.sexy-container-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.sexy-container h1 {
    font-size: 24px;
    margin: 10px 0;
}
